body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background-color: #081934!important;

}


.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place it behind other content */
    
  }

  .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0); /* Ensure hardware acceleration for smoother performance */
    filter: blur(10px); /* Adjust the blur amount */
    opacity: 50%;
    transition: opacity 2s ease-in-out;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the overlay color and opacity */
  backdrop-filter: blur(10px); /* Adjust the blur amount to match the video */
  z-index: -1; /* Place it behind other content */
}

  .content-container {
    position: relative;
    z-index: 1; /* Place it above the background */
    padding: 20px; /* Adjust as needed */
  }

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E2350;
    padding: 1px;
    z-index: 1000; /* Ensure the navbar stays on top of other elements */
    transition: 0.5s;
  }

header:hover{
    border-bottom: solid whitesmoke 2px;
    box-shadow: 2px 2px 20px white;
}
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 15px;
    margin: 1.25vh;
    color: #0A1D3B;
    font-size: 20px;
    font-weight: bold;
    padding:0;
  }
  nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 1.25vh;
    border-radius: 10px;
    transition: 0.3s;
  } 

/* dropdown */

  nav ul li.dropdown{
    transition: 0.5s;
  }

  nav ul li ul{
    padding: 0;
    margin: 0;
  }

  nav ul li ul.dropdown-menu{
    padding:0;
    border-top:none;
    border: solid black 1px;
    border-top: none;
  }


  nav ul li ul li{
    margin-right: 15px;
    margin: 0;
    background-color: #0E2350;
    font-weight: bold;
    padding:0;
  }

  nav ul li ul li .dropdown-item{
    margin-right: 15px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
  }

  #leftbar ul li a:hover{
    background-color: #0A1D3B;
    color: #f9943b;
    text-decoration: none;
  }   



  
  #searchBar {
    margin: 0 auto; /* Center the search bar */
    width: 350px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
  }
  
  #pfpIcon{
    width: 40px; /* Adjust the size of the image as needed */
    height: 40px;
    border-radius: 100%;
    padding:0;
    margin:0;
  }


  #rightbar ul li:nth-child(3) #pfpIcon {
    background-color: whitesmoke;
    transition: all 700ms;
  }

  #rightbar ul li:first-child #pfpIcon {
    transition: all .5s;
    
  }
  

  #rightbar ul li:first-child #pfpIcon:hover {
    content: url("../images/settingsicon2.png"); /* Change to the path of the other image */
    rotate: 90deg;
    
  }
  #rightbar ul li:nth-child(3) #pfpIcon:hover {
    rotate: 360deg;
    
  }

  #logoIcon{
    width: 75px;
    height: 75px;
  }

  #logoIcon:nth-child(2){
    width: 200px;
    height: 30px;
  }



/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    header {
      flex-direction: column; /* Stack items vertically on smaller screens */
      text-align: center;
    }
  
    nav ul {
      margin-top: 10px;
    }
  
    nav ul li {
      margin: 5px;
    }
  
    #searchBar {
      max-width: 100%; /* Make the search bar full width on smaller screens */
    }
  }




/* mainContainer */
#containerHome{
    display: flex;
    margin-top: 110px;
}


/* MainBar */

#MainBar{
    border-radius: 1rem;
    background-color: #0E2350;
    color: white;
    width: 68.5%;
    margin: 5px;
    padding: 1.5rem;   
     
}

#MainBar #profilePicture{
    border-radius: 100%;
    border: 2px solid #F9943B;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 40px;
}

#MainBar .postText #image{
    width: 800px;
    height: 400px;
    border-radius: 20px;
    border: solid 1px #f9943b;
    object-fit:cover;
    object-position: center;

}

#MainBar .postText{
    font-size: 15px;
    padding: 10px;
}

#icons{
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

#comments{
    width: 25px !important;
    height: 25  px !important;
}


/* Sidebar Innonet */

#sidebarInnoNet{
    width: 35% ;
    z-index: 999;
}


#sidebar-one{
    border-radius: 10px;
    background-color: #0E2350;
    color: white;
    width: 100%;
    padding: 1.5rem;
    margin: 8px;
}

#sidebar-one img{
    height: 40px;
    width: 40px;
    margin-right: 3px;
    
}

#sidebar-one #Ideas{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    color: #F9943B;
    padding: 1vh;
    display: inline-block;
    line-height: 20px;
    transition: 0.3s;
}

#sidebar-one #Ideas:hover{
    background-color: #4B6DA2;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

h2, h3, h4, h5, h6{
    margin: 0;
}

#sidebar-one #Trending{
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
    border-radius: 10px;
    color: white;
    padding: 5px;
    display: inline-block;
    line-height: 1vh;
    width: 100%;
    transition: 0.4s;
}

#sidebar-one #Trending h6{
    color: lightgrey;
}


#sidebar-one #Trending:hover{
    background-color: #4B6DA2;
}

#sidebarIcon{
    width: 40px !important;
    height: 25px !important;
    margin-right: 20px !important;
    margin-left: 20px;


}



#sidebar-two{
    border-radius: 10px;
    background-color: #0E2350;
    color: white;
    width: 100%;
    padding: 1.5rem;
    margin: 8px;
}

#sidebar-two #icons{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: whitesmoke;
    border-radius: 100%;
}

.userFollowImg{
    margin-left: 5px;
    padding:5px;
    width: 80px !important;
    height: 160px !important;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 20px rgba(255,255,255,0.25) ;
}

#iconsplus{
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 90%;
    border-color: #0a1d3b;
    float: right;
  }

@media only scre {
    
}


.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}



.posts-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Add this property */
    flex-wrap: wrap;
}

.left-column {
    flex: 2;
    padding-right: 20px;
}

.right-column {
    flex: 1;
    margin:37px 0;
}

.post-card {
    background-color: #202b3d;
    color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.category1 {
    background-color: #9C0000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 3vh;
    margin-bottom: 10px;
}

.category2 {
    background-color: #009E16;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 3vh;
    margin-bottom: 10px;
}

.category3 {
    background-color: #FFFF00;
    color: #202b3d;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 3vh;
    margin-bottom: 10px;
}


/* Footer styles */
footer {
    background-color: #202b3d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Color scheme variations */
.scheme-1 {
    background-color: #f3f3f3;
    color: #333;
}

/* post footer */
.post-footer {
    position: relative;
    margin-top: 10px;
    color: #aaa;
    font-size: 14px;
}

.counters-container {
    display: flex;
    align-items: center;
}

.comment-counter,
.upvote-counter,
.downvote-counter,
.share-counter{
    display: inline-block;
    padding: 2px 10px;
    border-radius: 3px;
    font-size: 12px;
    margin: 10px;
}

.comment-counter:hover,
.upvote-counter:hover,
.downvote-counter:hover,
.share-counter:hover{
    cursor: pointer;
}

.comment-counter {
    background-color: #fff;
    color: #000;
}

.upvote-counter {
    background-color: #ebc67b;
    color: #202b3d;
    margin-left: 5px; /* Add margin to separate counters */
}

.downvote-counter{
    background-color: #FF6060 ;
    color:#202b3d;
    margin-left: 5px;
}

.share-counter{
    background-color: plum ;
    color:#202b3d;
    margin-left: 5px;
}

#container {
    margin-top:10%;
}

        /* Custom styles for the fullscreen modal */

        .modal-content{
            background-color: #0A1D3B;
            color: white;
          }
    
          
          .imgmodal-body{
            width: 100%;
            display: flex;   
            justify-content: space-between;
            object-fit: contain;
          }
    
         #modal-profilePicture{
            border-radius: 100%;
            border: 2px solid #F9943B;
            margin-right: 5px;
            height: 50px;
            width: 50px;
            font-weight: bold;
            font-size: 40px;
    
        }

        .imgmodal-postText{
            width: 75%;
            margin-right: 1.rem;
        }



        .imgmodal-postText #image{
            margin-top: 100px;
            width: 800px;
            height: 400px;
            border-radius: 20px;
            border: 1px solid #F9943B;
            position: fixed;
    
        }
        .imgmodal-postText{
            font-size: 15px;
    
        }
    
        .custom-modal-header{
          margin: 0;
        }
    
        #userModalpfp{
          float:right;
          line-height: 50px;
        }


        .imgmodal-postFeed{
            width: 25%;
            margin-left: 1.5rem;
        }
        
        #modal-iconsFeed{
            width: 18px;
            height: 18px;
            margin-right: 1rem;
        } 

        #filters{
            justify-content: space-evenly;
            margin-left: 10px;
        }

        #commentBlock{
            padding: 10px;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }






/* Sectioning*/

.postFront{
    transition:0.3s;
}

.postFront:hover{
    cursor: pointer; 
    background-color: #0A1D3B;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

#ideasShare{
    
}

#usercardFollow{
    transition: 0.3s;
}

#usercardFollow:hover{
    cursor: pointer;
    background-color: #4B6DA2;
    border-radius: 5px;
}

#stickymodal{
    position: fixed;
    z-index: 1000;
}

#searchQRY{
    margin:0;
    width: 350px;
    border-radius: 10px;
    padding-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


.logins {
    background-color: #032959;
    padding: 2rem;
    color: white;
    margin: 0;
    border-radius: 30px;
} 

.loginContainer{
    transition: 0.3s;
    margin:0;
    padding: 0 !important;
    border-radius: 30px;
}

.loginContainer:hover{
    box-shadow: 2px 2px 20px white;
    border: solid whitesmoke 2px;
}

.loginText{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.logins .text-body {
    color: white!important;
}


.container {
    margin-top:10%;
}

#aboutText{
    text-align: center; 
    color: #F9943B; 
    font-size: 60px; 
    font-family: fantasy;
    transition: all .5s;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

#aboutText:hover{
    font-size: 70px;
    color: whitesmoke;
    text-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.about-content {
    display:flex;
    align-self: center;
    justify-content: space-between;
    background-color: #032959;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 20px;
    transition: all 0.3s;
}

.about-content:hover{
    box-shadow: 2px 2px 20px white;
    border: solid whitesmoke 2px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.about-content h1,h2,h3,h4,h5,h6,p {
    color: white;
}
.about-contents button {
    display: inherit;
    align-items: end;
    align-content: end;
    align-self: flex-end;
    justify-items: end;
    justify-self: end;
    justify-content: flex-end;
}


  .aboutMain {
    margin: 2%;
    display: flex; /* Apply flexbox to the main container */
    flex-wrap: wrap; /* Allow the cards to wrap to the next line on smaller screens */
    justify-content: space-around; /* Adjust as needed for spacing between cards */
  }

  .aboutCards {
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
    margin: 2%;
    padding: 10px;
    background-color: #032959;
    color: #FFFFFF;
    transition: all 0.5s;
  }

  .aboutCards:hover{
    box-shadow: 2px 2px 20px white;
    border: solid whitesmoke 2px;
    margin:3%;
  }

  .aboutImage img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .aboutTitle {
    text-align: center;
    padding: 10px;
  }

  #aboutnameCard {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .aboutDesc {
    padding: 10px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }