.logins {
    background-color: #032959;
    padding: 2rem;
    color: white;
    margin: 0;
    border-radius: 30px;
} 

.logins:hover{

}

.loginContainer{
    transition: 0.3s;
    margin:0;
    padding: 0 !important;
    border-radius: 30px;
}

.loginContainer:hover{
    box-shadow: 2px 2px 20px white;
    border: solid whitesmoke 2px;
    margin-left: 20px;
}

.loginText{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.logins .text-body {
    color: white!important;
}


.container {
    margin-top:10%;
}

#aboutText{
    text-align: center; 
    color: #F9943B; 
    font-size: 60px; 
    font-family: fantasy;
    transition: all .5s;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

#aboutText:hover{
    font-size: 70px;
    color: whitesmoke;
    text-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.about-content {
    display:flex;
    align-self: center;
    justify-content: space-between;
    background-color: #032959;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 20px;
    transition: all 0.3s;
}

.about-content:hover{
    box-shadow: 2px 2px 20px white;
    border: solid whitesmoke 2px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.about-content h1,h2,h3,h4,h5,h6,p {
    color: white;
}
.about-contents button {
    display: inherit;
    align-items: end;
    align-content: end;
    align-self: flex-end;
    justify-items: end;
    justify-self: end;
    justify-content: flex-end;
}


  .aboutMain {
    margin: 2%;
    display: flex; /* Apply flexbox to the main container */
    flex-wrap: wrap; /* Allow the cards to wrap to the next line on smaller screens */
    justify-content: space-around; /* Adjust as needed for spacing between cards */
  }

  .aboutCards {
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
    margin: 2%;
    padding: 10px;
    background-color: #032959;
    color: #FFFFFF;
    transition: all 0.5s;
  }

  .aboutCards:hover{
    box-shadow: 2px 2px 20px white;
    border: solid whitesmoke 2px;
    margin:3%;
  }

  .aboutImage img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .aboutTitle {
    text-align: center;
    padding: 10px;
  }

  #aboutnameCard {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .aboutDesc {
    padding: 10px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }